section.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    height: 100vh; /* Ensures vertical centering */
}
.result-box {
    border: 1px solid;
    width: 25%;
    height: 205px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline-flex;
}